<p>
    We take the security of those we work with seriously. OCCRP runs in-person counter
    surveillance trainings to better respond to physical security risks.
</p>
<p>
    Benefit from on-site security audits of your center and in some cases we can fund
    security purchases to enhance the safety of your working environment.
</p>
<p>
    We visit member centres to run bespoke digital security trainings and check-ups,
    helping to set up secure channels of communication and share best practice. Our
    technical experts provide emergency support and can help you respond to security
    incidents.
</p>