---
layout: default
title: Example
---

<div class="container">
    <div class="row">
        <p>
            OCCRP conducts cross-border collaborative investigations that bring together journalists from our member
            centers and partner newsrooms. Some of the tools and services we provide are accessible only to our member
            centres, others are available to reporters and the general public.
        </p>
    </div>
    <div class="row">
        {% for component in site.data.components.homepage %}
        <div class="col">
            {% for box in component.column %}
            {% include toolbox-list.html tools=box %}
            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>