<div class="occrp-navbar hidden-print">
    <div class="occrp-container-inner">

        <div class="socialmedia">
            <a class="btn btn-default donate" target="_blank" href="https://www.occrp.org/en/donate">Support
                Investigative Reporting</a>
            <a href="https://www.facebook.com/OCCRP.org" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/occrp" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://vk.com/public115708360" target="_blank">
                <i class="fa fa-vk"></i>
            </a>
        </div>
        <div class="menu">
            <div class="logo">
                <a href="https://occrp.org/en/"><img src="/assets/images/logo/occrp_logo.png" class="normal"
                        alt="assets/images/logo/occrp_logo.png">
                    <img src="/assets/images/logo/occrp_logo_mobile.png" class="mobile"
                        alt="common/logo/occrp_logo_mobile.png"></a>
            </div>

            <div class="breadcrumbs">

                <span class="crumb">
                    <a href="/en/gacc/">OCCRP Resources & Tools</a>
                </span>



                &nbsp;
            </div>
        </div>
    </div>
</div>