/*
 * regular OCCRP project colour scheme
 */
$occrp-text-normal: #333;
$occrp-text-dark: #666666;
$occrp-text-medium: #f0f0f0;

$occrp-bg-body: #fff;
$occrp-bg-page: #fff;
$occrp-bg-medium: #f0f0f0;
$occrp-bg-dark: #727272;