.box-container {
    // border-radius: 17px 17px 17px 17px;
    // -moz-border-radius: 17px 17px 17px 17px;
    // -webkit-border-radius: 17px 17px 17px 17px;
    // border: 1px dotted #969696;
    padding: 20px
}

h3 {
    color: #666666;
    font-weight: bold;
    font-size: 1.3rem;

    margin-top: 2em;
}



h2 {
    color: #982022;
    font-size: em;

}

h1 {
    font-weight: bold;
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.read-more {
    color: #666666;
    font-size: 0.9rem;
    cursor: pointer;
}

.container {
    margin: 3em auto;

}