<p>
    <a href='https://aleph.occrp.org/'>OCCRP’s Aleph </a>supports investigations by making data securely searchable. We
    provide tools to identify links across stories and datasets. Over time, we’re building up a long-term memory of
    leaks, public records and other data unique to investigative journalism.</p>
<p>Aleph ties together companies, people, payments, documents and leaked e-mails and other core components of
    follow-the-money investigations. The software supports multiple languages and alphabets, optical character
    recognition and named entity extraction, as well as the ability to cross-reference a list of entities - such as a
    list of all the politicians in one country against all the other databases and leaks in the corpus.</p>
<p>With over a billion records covering almost every country, much of which is sensitive, we have rigorous access
    management controls to ensure we follow journalistic ethics.</p>
<p>Aleph: <a href='https://aleph.occrp.org/'>https://aleph.occrp.org/</a></p>
<p>Documentation: <a href='https://docs.alephdata.org/'>https://docs.alephdata.org/</a></p>
<p>If you are interested in setting up your own Aleph, please email data[at]occrp.org</p>