<p>
    OCCRP’s Data Desk helps journalists to make the most of data. The team supports our
    network to use Aleph and its ecosystem of tools, including:

</p>
<ul>
    <li>Aleph - search and find connections in structured and unstructured data</li>
    <li>VIS Desktop - sketch out networks of people, companies and other entities into a
        visual diagram of actors and connections
    </li>
    <li>Memorious - manage all your web scrapers that import data into Aleph
    </li>

</ul>
<p>
    The team can help you import large datasets into Aleph, analyze data to find answers
    to important questions and scrape data from websites and parse data from documents.

    If you work for OCCRP or an OCCRP member centre, you can access this service by
    emailing data[at]occrp.org

</p>