<p>
    Our editors help journalists across the OCCRP network turn extremely complicated
    investigations into stories that readers around the world can understand, share, and
    act upon. We also coordinate large cross-border investigations, bringing together
    different journalists and member centers and ensuring that project members are
    equipped with the right technology, data, and security tools. All journalists in the
    OCCRP network are invited to pitch stories to our core editorial team in Sarajevo,
    which provides feedback and editorial support both pre- and post-publication. Our
    daily news team also produces English-language news coverage of organized crime,
    corruption, and issues facing journalists worldwide, while our engagement section
    amplifies the work of our member centers.

</p>