<p>
    ID is an OCCRP service that helps investigative journalists within the network
    conduct research quickly and effectively. A team of researchers is on hand to track
    down people, companies, and assets — like ships and planes — anywhere in the world.
    They are equipped with access to a number of commercial search engines and
    databases, as well as the experience to make effective use of dozens of publicly
    available, but little-known, open sources. With the support of a bespoke ticketing
    system to shorten the lead time from story inception to publication, the research
    team helps OCCRP members break new ground in investigative journalism.
</p>
<p>
    Got a research request? Submit a ticket <a href="https://id.occrp.org/">id.occrp.org
    </a>
</p>